body {
  background-color: #fff;
  font-family: 'Assistant', sans-serif;
  color: #071C4D;
}

// Navbar
.navbar-brand {
  .logo-text{
    font-size: 1.5rem;
    font-weight: 800;
    color: #071C4D;
  }
}

.btn-navbar-right {
  margin-top: -10px !important;
  margin-bottom: -8px !important;
  margin-right: -18px !important;

  height: 70px;
  border-radius: 0;
}

.navbar-light {
  .navbar-nav {
    .nav-link {
      color: #071C4D;

      &.active {
        font-weight: bold;
        color: #071C4D !important;
      }
    }
  }
}

.btn-login {
  background-color: #071C4D;
  color: #fff;

  &:hover {
    color: #fff;
  }
}

// Header
header {
  margin-top: -68px;
  padding: 180px 0 165px;
  background-image: url('../images/banner1.jpg');
  background-size: cover;

  h1,
  p {
    color: #fff;
  }

  h1 {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
  }

  .btn-get-started {
    background-color: #FF9E53;
    color: #fff;

    &:hover {
      color: #fff;
    }
  }
}

// Stats
.section-stats {
  margin-top: -50px;

  .stats-detail {
    padding-top: 15px;
    background: #fff;
    padding-left: 40px;

    i {
      font-size: 2.5rem;
      color: #071C4D;
      text-align: center;
    }

    p {
      font-size: 1.2rem;
      font-weight: 600;
      color: #071C4D;
    }
  }
}

// Popular
.section-popular {
  min-height: 540px;
  background: #051334;
  margin-top: -50px;
  margin-bottom: -230px;

  .section-popular-heading {
    margin-top: 150px;
    h2 {
      color: #fff;
      font-family: 'Playfair Display', serif;
      font-weight: bold;
    }
  }
}

.section-popular-content {
  .section-popular-shop {

    .card-shop {
      min-height: 380px;
      background: #fff;
      color: #fff;
      padding: 30px;
      background-size: cover;
      margin-bottom: 20px;

      .title-product {
        font-size: 24px;
        border-radius: 20px;
        color: #071C4D;
        font-weight: bold;
      }

      .shop-button {
        .btn-shop-details {
          background-color: #FF9E53;
          border-radius: 20px;
          color: #fff;

          &:hover {
            color: #fff;
          }
        }
      }
    }
  }
}


.section-testimonials-heading {
  background: linear-gradient(#fff 0%, #f7f9ff 100%);
  padding-top: 100px;
  min-height: 510px;

  h2 {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
  }
}

.section-testimonials-content {
  margin-top: -250px;
  padding-bottom: 40px;

  .card-testimonial {
    padding: 40px 20px 10px;
    border-radius: 11px;
    margin-bottom: 20px;

    .testimonial-content {
      min-height: 180px;
    }

    h3 {
      font-size: 22px;
    }

    .testimonials {
      font-size: 18px;
      text-align: center;
      color: #6e6e6e;
      font-weight: 200;
    }

    hr {
      margin-left: -20px;
      margin-right: -20px;
    }
  }

  .btn-get-started {
    background-color: #FF9E53;
    color: #fff;

    &:hover {
      background-color: #071C4D;
      color: #fff;
    }
  }

  .btn-need-help {
    background-color: #F2F2F2;
    color: #C3C3C3;

    &:hover {
      color: #fff;
      background-color: #f2c200;
    }
  }
}

.section-footer {
  background-color: #051334;
  a {
    color: #fff;
  }
}
